body {
    width: 100%;
    max-height: fit-content;
    background: #1E8E58;
}

* {
    font-family: 'El Messiri', sans-serif;
}

progress {
    border-radius: 7px;
    width: 100%;
    height: 22px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: #1E8E58;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #E25E82;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(91, 90, 90, 0.8);
}

.img {
    width: 60%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
    border-radius: 7px;
    margin: auto;
    max-height: 400px;
}