body {
    width: 99%;
    margin: 0 auto;
    background: #1E8E58;
}

* {
    font-family: 'El Messiri', sans-serif;
}

progress {
    border-radius: 7px;
    width: 100%;
    height: 22px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: #1E8E58;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: #E25E82;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(91, 90, 90, 0.8);
}

.img {
    width: 80%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2);
    border-radius: 7px;
    max-height: 400px;
}

#progressbar-cc {
    background-color: #9C002B;
    padding: 10px;
    border-radius: 7px;
    color: #fff;
}